* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: block;
}
a {
    text-decoration: none;
}
#__bs_script__ , title{
    display: none;
}
.container {
    @mixin atMedium {
        max-width: 80%;
        margin: auto;
    }

}