.section {
    padding: 2rem 0rem;
    text-align: center;
    min-height: 300px;
}

#choose {
    background-color: #efefef;
}
.destinations {
    margin-top: 50px;
    margin-bottom: 50px;
}
.tour-container {
    margin-top: 50px;
    margin-bottom: 50px;
}